/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* CSS Color Palette */
  --bg-color: #222831;
  --font-color: #f2f2f2;
  --message-color: red;

  --navbar-color: #393e46;
  --navbar-hoover-background-color: #fcedda;
  --navbar-hoover-font-color: black;
  --navbar-select-background-color: #b6d7de;
  --navbar-select-font-color: black;
  
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5; /* 1.5 times the space between each line of text */
  font-weight: 400;

  color-scheme: light dark; /* color schemes allowed to be rendered */
  color: var(--font-color);
  background-color:var(--bg-color);

  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility; /* improve the readability of text on small screens */
  -webkit-font-smoothing: antialiased; /* enable font smoothing on all browsers */
  -moz-osx-font-smoothing: grayscale; /* enable font smoothing on all browsers */
  -webkit-text-size-adjust: 100%;
}

.message {
  color: var(--message-color)
}

.wrapper {
  margin: auto;
  width: 70%;
}

/* navigation bar */
.navbar {
  overflow: hidden;
  background-color: var(--navbar-color);
}

/* style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: var(--font-color); 
}

/* change the color of links on hover */
.navbar a:hover {
  background-color: var(--navbar-hoover-background-color);
  color: var(--navbar-hoover-font-color); /* Change the font color on hover to black */
}

/* add a color to the active/current link */
.navbar a.active {
  background-color: var(--navbar-select-background-color);
  color: var(--navbar-select-font-color); /* font color for the active link */
}
