/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

.wrapper {
  margin: auto;
  width: 70%;
}

/* navigation bar */
.navbar {
  overflow: hidden;
  background-color: #564949de;
}

/* style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: lightblue; /* Change the font color to blue */
}

/* change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black; /* Change the font color on hover to black */
}

/* add a color to the active/current link */
.navbar a.active {
  background-color: #8f959c;
  color: yellow; /* Change the font color for the active link to yellow */
}
